/* Add a gray background color and some padding to the footer */
body{
  background-color: white;
	padding-bottom:15px;
	background-image: none;
  background-position: top;
	background-size: 100%;
    background-repeat: no-repeat;
    }

footer {
  color:white;
  background-color: black;
  padding: 25px;
}

.background_color {
  border-radius: 25px;
  background-color: #F8EFFB;
  padding: 10px 10px 10px 10px;
  text-align: left;
  color: white;
  position: relative;
}

.cover {
  border-radius: 25px;
  background-color: #0D51DA;
} 

.table{
  background-color: white;
	border: 2px solid black;
	border-radius: 5px;
	margin: auto;
	margin-top:20px;
  color: black;
}

table {
  color: white;
  background-color: blue;
	border: 2px solid black;
  padding: 10px;
	border-radius: 5px;
	margin: auto;
	margin-top:20px;
}

td, th {
    text-align: left;
    padding: 8px;
}