/* Add a gray background color and some padding to the footer */
    body{
    background-color: #b7d1c4;
	padding-bottom:15px;
	background-image:url('https://s-media-cache-ak0.pinimg.com/736x/9f/19/fe/9f19fec51bfb54dc52ec188298e7ad17.jpg');
	background-position: top;
	background-size: 100%;
    background-repeat: no-repeat;
    }
    footer {
      color:white;
      background-color: black;
      padding: 25px;
    }
    
  .carousel-inner img {
      width: 50%; /* Set width to 100% */
      margin: auto;
      min-height:100px;
  }

  /* Hide the carousel text when the screen is less than 600 pixels wide */
  @media (max-width: 600px) {
    .carousel-caption {
      display: none; 
    }
  }
  .background_color{
      border-radius: 25px;
      background-color: #0D51DA;
      padding: 10px 10px 10px 10px;
      text-align: left;
      color: white;
  }
  .textWhite{
    /*background-color: #0D51DA;*/
    color: white;
  }

  .table{
  background-color: white;
	border: 2px solid black;
	border-radius: 5px;
	margin: auto;
	margin-top:20px;
}

.portrait {
    height: 100px;
    width: 100px;
}